*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

#page1{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 131, 131);
}

#page2{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 50, 50);
}

#page3{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(4, 28, 28);
}

#page4{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(16, 33, 33);
    padding: 1vw;
}

#page5{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(140, 171, 171);
}

#center{
    position: absolute;
    width: 10vw;
    height: 10vw;
    border-radius: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgb(46, 139, 110), rgb(34, 88, 63));
}

img{
    position: relative;
    width: 10%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center;
}

#page4 h1{
    font-size: 35vw;
    text-transform: uppercase;
}

#page5 h1{
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 10vw;
    text-transform: uppercase;
}
